<div class="row">
  <h2 class="text-center">Dashboard</h2>
  <h4 class="text-center"><%= @application.name %> | <%= @application.url %></h4>
    <p class="text-center">
      <%= link_to 'Edit Website Details', edit_application_path(@application) %> |
      <%= link_to 'Back To Your Websites', applications_path %>
    </p>
  <h2 class="text-center">Stats For Last 30 Days</h2>
</div> <!-- end of row -->
<div class="row stats-glance-row">
  <div class="col-md-2 stats-glance pageviews-box">
    <h2><%= @pageviews_30.count %></h2>
    <h4>Total Pageviews</h4>
  </div>
  <div class="col-md-2 stats-glance new-users-box">
    <h2><%= @new_users_30.count %></h2>
    <h4>Registered Users</h4>
  </div>
  <div class="col-md-2 stats-glance sales-box">
    <h2><%= @sales_30.count %></h2>
    <h4>Items Sold</h4>
  </div>
  <div class="col-md-2 stats-glance messages-box">
    <h2><%= @messages_30.count %></h2>
    <h4>New Messages</h4>
  </div>
</div>
<div>
  <h2 class="text-center">In-Depth Traffic and Stats</h2>
    <div class="text-center">
      <p>Select Date Range</p>
      <%= form_tag application_path(@application), method: :get do %>
        <%= select_tag(:days, options_for_select([["Last 30 Days", 30], ["Last 60 Days", 60], ["Last 90 Days", 90]], params[:days]))  %>
        <%= submit_tag "Update" %>
      <% end %>
    </div>

  <h3>Pageviews: <%= @pageviews_chart.count %></h3>
  <strong>Pageviews by day</strong>
  <%= area_chart @pageviews_chart, colors: ["#FF533C"] %>
  <h3>New Users: <%= @new_users_chart.count %></h3>
  <%= area_chart @new_users_chart, colors: ["#00B050"] %>
  <h3>Sales: <%= @sales_chart.count %></h3>
  <%= area_chart @sales_chart, colors: ["#00CAF9"] %>
  <h3>Messages: <%= @messages_chart.count %></h3>
  <%= area_chart @messages_chart, colors: ["#0080C8"] %>
</div>
