<div class="row">
  <div class="col-md-4">
    <h2 class="text-center"><%= @application.name %></h2>
      <h3 class="text-center"><%= @application.url %></h3>
      <p class="text-center">
        <%= link_to 'Edit Website Details', edit_application_path(@application) %> |
        <%= link_to 'Back To Your Websites', applications_path %>
      </p>
  </div>
<div class="col-md-8">
    <h2 class="text-center">Your Website At-A-Glance</h2>
    <h4 class="text-center"><em><strong>Last 30 Days</strong></em></h4>
    <h3 class="text-center">Pageviews: <%= @pageviews_30.count %> </h3>
    <h3 class="text-center">New Users: <%= @new_users_30.count %></h3>
    <h3 class="text-center">Sales: <%= @sales_30.count %></h3>
  </div>
</div> <!-- end of row -->
<div class=
<div>
  <h2 class="text-center">In-Depth Traffic and Stats</h2>
    <div class="text-center">
      <%= form_tag application_path(@application), method: :get do %>
        <%= select_tag(:days, options_for_select([["Last 30 Days", 30], ["Last 60 Days", 60], ["Last 90 Days", 90]]))  %>
        <%= submit_tag "Update" %>
      <% end %>
    </div>

  <h3>Pageviews: <%= @pageviews.count %></h3>
  <strong>Pageviews by day</strong>
  <%= area_chart @pageviews_chart %>
  <h3>New Users: <%= @new_users.count %></h3>
  <%= area_chart @new_users_chart, colors: ["#00FF00"] %>
  <h3>Sales: <%= @sales.count %></h3>
  <%= area_chart @sales_chart, colors: ["#FF0000"] %>
</div>
