<div class="row">
  <div class="col-md-4">
    <h2 class="text-center"><%= @application.name %></h2>
      <h3 class="text-center"><%= @application.url %></h3>
      <%= image_tag('preview.jpg') %>
      <p class="text-center">
        <%= link_to 'Edit Website Details', edit_application_path(@application) %> |
        <%= link_to 'Back To Your Websites', applications_path %>
      </p>
  </div>
<div class="col-md-8">
    <h2 class="text-center">Your Website At-A-Glance</h2>
    <p class="text-center"><em><strong>Last 30 Days</strong></em></p>
    <h3 class="text-center">Unique Hits: <%= @uniques.count %></h3>
    <h3 class="text-center">Total Pageviews: <%= @pageviews.count %> </h3>
    <h3 class="text-center">New Users: <%= @new_users.count %></h3>
    <h3 class="text-center">Sales: <%= @sales.count %></h3>
  </div>
</div> <!-- end of row -->
<div>
  <h2 class="text-center">In-Depth Traffic and Stats</h2>
  <h3>Pageviews: <%= @pageviews.count %></h3>
  <strong>Pageviews by day</strong>
  <%= area_chart @pageviews.group_by_day(:created_at).count %>
  <h3>New Users: <%= @new_users.count %></h3>
  <%= area_chart @new_users.group_by_day(:created_at).count, colors: ["#00FF00"] %>
  <h3>Sales: <%= @sales.count %></h3>
  <%= area_chart @sales.group_by_day(:created_at).count, colors: ["#FF0000"] %>
</div>
